body {
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.6);
    background-color: #adbce43d;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  ::-moz-selection {
    background: #000;
    color: #fff; }
  
  ::selection {
    background: #000;
    color: #fff; }
  
  a {
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease; }
    a:hover {
      text-decoration: none; }

  .site-mobile-menu {
        width: 300px;
        position: fixed;
        right: 0;
        z-index: 2000;
        padding-top: 20px;
        background: #fff;
        height: calc(100vh);
        -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
        transform: translateX(110%);
        -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
        box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
        -webkit-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out; }
        .offcanvas-menu .site-mobile-menu {
          -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
          transform: translateX(0%); }
        .site-mobile-menu .site-mobile-menu-header {
          width: 100%;
          float: left;
          padding-left: 20px;
          padding-right: 20px; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
            float: right;
            margin-top: 8px; }
            .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
              font-size: 30px;
              display: inline-block;
              padding-left: 10px;
              padding-right: 0px;
              line-height: 1;
              cursor: pointer;
              -webkit-transition: .3s all ease;
              -o-transition: .3s all ease;
              transition: .3s all ease; }
              .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
                color: #25262a; }
          .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
            float: left;
            margin-top: 10px;
            margin-left: 0px; }
            .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
              display: inline-block;
              text-transform: uppercase; }
              .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
                max-width: 70px; }
              .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
                text-decoration: none; }
        .site-mobile-menu .site-mobile-menu-body {
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
          position: relative;
          padding: 20px;
          height: calc(100vh - 52px);
          padding-bottom: 150px; }
        .site-mobile-menu .site-nav-wrap {
          padding: 0;
          margin: 0;
          list-style: none;
          position: relative; }
          .site-mobile-menu .site-nav-wrap a {
            padding: 10px 20px;
            display: block;
            position: relative;
            color: #212529; }
            .site-mobile-menu .site-nav-wrap a:hover {
              color: #1f3c88; }
          .site-mobile-menu .site-nav-wrap li {
            position: relative;
            display: block; }
            .site-mobile-menu .site-nav-wrap li.active > a {
              color: #1f3c88; }
          .site-mobile-menu .site-nav-wrap .arrow-collapse {
            position: absolute;
            right: 0px;
            top: 10px;
            z-index: 20;
            width: 36px;
            height: 36px;
            text-align: center;
            cursor: pointer;
            border-radius: 50%; }
            .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
              background: #f8f9fa; }
            .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
              font-size: 12px;
              z-index: 20;
              font-family: "icomoon";
              content: "\f078";
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%) rotate(-180deg);
              -ms-transform: translate(-50%, -50%) rotate(-180deg);
              transform: translate(-50%, -50%) rotate(-180deg);
              -webkit-transition: .3s all ease;
              -o-transition: .3s all ease;
              transition: .3s all ease; }
            .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
          .site-mobile-menu .site-nav-wrap > li {
            display: block;
            position: relative;
            float: left;
            width: 100%; }
            .site-mobile-menu .site-nav-wrap > li > a {
              padding-left: 20px;
              font-size: 20px; }
            .site-mobile-menu .site-nav-wrap > li > ul {
              padding: 0;
              margin: 0;
              list-style: none; }
              .site-mobile-menu .site-nav-wrap > li > ul > li {
                display: block; }
                .site-mobile-menu .site-nav-wrap > li > ul > li > a {
                  padding-left: 40px;
                  font-size: 16px; }
                .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
                  padding: 0;
                  margin: 0; }
                  .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
                    display: block; }
                    .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                      font-size: 16px;
                      padding-left: 60px; }

  .companyName {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-size: 40px;
    font-weight: 500;
    line-height: 0.2;
    color: white; }

  .brand-1 {
    color: white;
    padding-bottom: 20px;
    font-size: 0px;}

  .set-3 { 
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: rgb(0,0,0);
    background-color: rgba(20, 20, 20, 0.693); 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    transform: translate(-50%, -50%);
    z-index: 2;}


  .welcomeNote {
    color: white;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 17px;}

  .explore {
    border-style: solid;
    border-width: 0.5px;
    border-color: white;
    color: rgb(255, 255, 255);
    background-color: rgba(126, 86, 13, 0.553);
    padding: 15px 40px;
    font-weight: 900;
    display: flex;
    margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 12px;}

    .explore:hover {
      color: rgb(46, 30, 2);
      border-color: rgb(58, 40, 8);
      background-color: white;
    }

  .overview {
    color: rgb(2, 45, 59);}


  .main {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: center;}
  

  .content-left {
    justify-items: left;
    align-items: left;
    text-align: left;
    margin-left: 30px;
    font-size: 15px;
    text-align: left;
    font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}

  .content-right{
    justify-items: right;
    text-align: right;
    margin-right: 100px;
    font-size: 15px;
    text-align: right;}
  
  .coreValues {
    border-style: solid;
    border-width: 0.5px;
    color: rgb(2, 23, 44);
    background-color: #e1e7fa3d;
    padding: 18px 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 12px;}

  .coreValues:hover {
    color: white;
    background-color: rgb(6, 27, 48);}

  h5{
    color: rgb(6, 27, 48);
  }
  .site-wrap {
    position: relative; }
    .site-wrap:before {
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      background: rgba(0, 0, 0, 0.6);
      content: "";
      position: absolute;
      z-index: 2000;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden; }
    .offcanvas-menu .site-wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      overflow: hidden; }
      .offcanvas-menu .site-wrap:before {
        opacity: 1;
        visibility: visible; }
  

  
  .bg-black {
    background: #000; }
  
  .site-section {
    padding: 0em 0; }
    @media (min-width: 68px) {
      .site-section {
        padding: 7em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  .bg-text-line {
    display: inline;
    background: #000;
    -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
    box-shadow: 20px 0 0 #000, -20px 0 0 #000; }
  
  
  @media (max-width: 767.98px) {
    .display-3, .display-2, .display-4 {
      font-size: 2rem !important; } }
  
  @media (max-width: 991.98px) {
    .bg-md-height {
      height: 300px; } }
  

  .row-wrap {
    margin-left: 15px;
    margin-right: 15px; }
  
  .overflow-hidden {
    overflow: hidden; }
  
  .row-items {
    height: calc(50% - 15px);
    margin-bottom: 15px; }
    .row-items.last {
      margin-bottom: 0; }
  
  @media (max-width: 991.98px) {
    .responsive-md-height {
      height: 500px !important;
      margin-bottom: 15px; } }
  
  .site-footer {
    padding: 4em 0;
    background: #333333; }
    @media (min-width: 768px) {
      .site-footer {
        padding: 7em 0; } }
    .site-footer p {
      color: #737373; }
    .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
      color: #fff; }
    .site-footer a {
      color: #999999; }
      .site-footer a:hover {
        color: white; }
    .site-footer ul li {
      margin-bottom: 10px; }
    .site-footer .footer-heading {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: .1em;
      color: #fff;
      position: relative;
      padding-bottom: 15px; }
      .site-footer .footer-heading:before {
        content: "";
        background: #fff;
        width: 40px;
        height: 2px;
        position: absolute;
        bottom: 0; }
  
  .site-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff; }
  
   Navbar
  .site-navbar-top .site-logo {
    font-size: 2rem; }
  
  .site-navbar-wrap {
    position: relative;
    z-index: 0;
    width: 100%; }
    .site-navbar-wrap a {
      color: #000; }
    .site-navbar-wrap .site-navbar-top {
      font-size: 0.8rem; }
  
  .site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    position: absolute;
    z-index: 99; }
    .site-navbar .site-logo {
      font-weight: 200; }
      .site-navbar .site-logo a {
        font-weight: 200;
        color: #000; }
    .site-navbar .site-navigation .site-menu {
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0; }
      .site-navbar .site-navigation .site-menu .active > a {
        color: #fff; }
      .site-navbar .site-navigation .site-menu a {
        text-decoration: none !important;
        display: inline-block; }
      .site-navbar .site-navigation .site-menu > li {
        display: inline-block;
        padding: 10px 5px; }
        .site-navbar .site-navigation .site-menu > li > a {
          padding: 10px 10px;
          letter-spacing: .05em;
          color: rgba(255, 255, 255, 0.6);
          text-decoration: none !important; }
          .site-navbar .site-navigation .site-menu > li > a:hover {
            color: #fff; }
  
  .site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; }

    .site-blocks-cover.inner-page-cover-1, .site-blocks-cover.inner-page-cover-1 .row {
        min-height: 800px;
        height: calc(30vh); }
    .site-blocks-cover h1 {
      font-weight: 900;
      color: #fff;
      font-weight: normal;
      letter-spacing: .1em;
      text-transform: uppercase; }

  .unit-8 .accordion-item .heading {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 0; }
    .unit-8 .accordion-item .heading > a {
      padding-left: 35px;
      position: relative;
      color: #000; }
      .unit-8 .accordion-item .heading > a:before {
        width: 20px;
        height: 20px;
        line-height: 18px;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 18px;
        top: .1em;
        left: 0; }
      .unit-8 .accordion-item .heading > a[aria-expanded="true"]:before {
        font-family: 'icomoon';
        position: absolute;
        content: "\e316";
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        background: #1f3c88;
        color: #fff;
        border: 1px solid #1f3c88; }
      .unit-8 .accordion-item .heading > a[aria-expanded="false"]:before {
        content: "\e313";
        color: #ccc;
        font-family: 'icomoon';
        position: absolute;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
  


